.file {
  margin-top: 10px;
}

.fileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 300px;
}

.btn {
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.btn:hover {
  cursor: pointer;
}

.sortBtn {
  border: 1px solid #94dceb;
  background: white;

  color: #29b1cd;
  font-weight: bold;
}

.sortBtn:hover,
.addBtn:hover {
  color: white;
  background: #29b1cd;
}

.addBtn {
  width: fit-content;
  justify-self: end;

  background: white;
  color: #29b1cd;
  border: 1px solid #94dceb;
}

.renameBtn {
  background: #29b1cd;
  color: white;
}

.renameBtn:hover {
  background: #047d96;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.revisionNumber,
.idText {
  display: block;
  font-size: 12px;
}

.fileContainer {
  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 2em 4em;

  box-shadow: 0 4px 8px 0 rgba(126, 126, 126, 0.2), 0 6px 20px 0 rgba(126, 126, 126, 0.2);
  min-width: 300px;
  width: fit-content;

  display: grid;
  row-gap: 1.5em;
}

.delete {
  float: right;
  font-size: 22px;
}

.delete:hover {
  cursor: pointer;
}
